/* -----------------------------------------------------------------------------
// 4. Journal Detail Page
// ----------------------------------------------------------------------------- */

//
// Table of content
// -----------------------------------------------------------------------------
// - Section Headline
// - Section 1 - Hero Slider
// - Section 2 - Post


//
// Journal Detail Page
// --------------------------------------------------
.journal-detail {

// Section Headline
// --------------------------------------------------
    .section-headline {
        margin-bottom: 20px;
        text-align: center;

        h4 {
            display: inline-block;
            margin: 0 0 40px 0;
            color: $brand-color;
            font-size: 40px;
        }

        p {
            margin: 0;
            font-size: 14px;
            text-transform: uppercase;
            color: #4b4b4b;
            font-family: $links-font-family;
            letter-spacing: 2px;
        }
    }


// Section 1 - Hero Title
// --------------------------------------------------
    .hero-title {
        background-image: url(http://placehold.it/1895x500);
    }


// Section 2 - Post
// --------------------------------------------------
    .post {
        background-color: $light-bg-color;
        border-radius: 5px;
        overflow: hidden;

        .align {
            padding: 40px;
        }

        // post date
        .date {
            font-size: 12px;
            text-transform: uppercase;
            color: $heading-text-color;
            font-family: $links-font-family;
            letter-spacing: 1px;
            color: #4b4b4b;
        }

        // post title
        h2 {
            margin: 5px 0 30px 0;
            color: $brand-color;
        }

        p {
            margin-bottom: 30px;
        }

        blockquote {
            margin: 30px 0;
        }

        // share, like & comment buttons
        .meta {
            margin-top: 40px;
            padding: 15px 20px;
            border-radius: 5px;
            background-color: #fff;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
            }

            li {
                display: inline-block;

                &:after {
                    content: '|';
                    margin: 0 20px;
                    color: #f8f8f8;
                }

                &:last-child:after {
                    content: none;
                }
            }

            a {
                font-size: 12px;
                text-transform: uppercase;
                color: #c4c4c4;

                i {
                    margin-right: 10px;
                }

                &:hover {
                    color: $heading-text-color;
                    text-decoration: none;

                    i {
                        color: $brand-color;
                    }
                }
            }
        }
    }


    // Post Comments
    .post-comments {
        margin-top: 100px;

        h3 {
            color: $brand-color;
            margin: 0 0 30px 0;
            font-size: 36px; 
        }

        .comment {
            padding: 30px 20px 30px 40px;
            margin-bottom: 20px;
            background-color: $light-bg-color;
            border-radius: 5px;
            @include clearfix();

            &-avatar {
                width: 90px;
                height: 90px;
                float: left;
                border: 8px solid #fff;
                border-radius: 100%;
                overflow: hidden;

                img {
                    margin: 0;
                }
            }

            .align {
                position: relative;
                float: left;
                margin-left: 4%;
                width: 81%;
            }

            h5 {
                display: inline-block;
                margin: 10px 0 0 0;
                color: #4b4b4b;
                font-weight: 700;

                & + p {
                    margin-top: 30px;
                }
            }

            .meta {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px 25px;
                border-radius: 5px;
                font-size: 12px;
                background-color: #fff;
                color: #c4c4c4;

                span:after {
                    content: '|';
                    color: #f5f5f5;
                    margin: 0 15px;
                }

                i {
                    margin-right: 8px;
                }

                a {
                    color: $brand-color;
                    text-transform: uppercase;

                    i {
                        color: #c4c4c4;
                    }
                }
            }
        }
    }

    // comment form
    .comment-form {
        margin-top: 100px;

        h3 {
            color: $brand-color;
            margin: 0 0 30px 0;
            font-size: 36px; 
        }

        .form-control {
            background-color: $light-bg-color;
            border-radius: 5px;
        }
    }


    // Sidebar
    aside {

        .widget {
            margin-bottom: 50px;

            h3 {
                color: $brand-color;
                margin: 0 0 30px 0;
            }
        }

        // search widget
        .form-control {
            padding-left: 40px;
            border-radius: 5px;
            background-color: $light-bg-color;
            background-position: 20px center;
            background-image: url(../img/search.png);
            background-repeat: no-repeat;
        }

        // posts widget
        .post {
            background-color: transparent;
            border-radius: 0;
            overflow: hidden;
            padding-bottom: 15px;
            border-bottom: 1px solid $light-bg-color;


            & + .post {
                margin-top: 15px;
            }

            &:last-child {
                border-bottom: none;
            }

            .post-thumbnail {
                width: 20%;
                float: left;
                border-radius: 5px;
                overflow: hidden;
            }

            .align {
                padding: 10px;
                margin-left: 22%;
            }

            h4 {
                font-size: 14px;
                margin: 0 0 2px 0;

                a {
                    color: #9c9c9c;
                }
            }

            span {
                font-size: 12px;
                text-transform: uppercase;
            }
        }

        // tags widget
        .tags {
            padding: 0;

            ul {
                padding: 0;
            }

            li {
                display: inline-block;
                list-style: none;
                margin: 0 5px 10px 0;
            }

            a {
                display: inline-block;
                padding: 10px 15px;
                border-radius: 5px;
                font-size: 10px;
                background-color: $light-bg-color;
                font-family: $links-font-family;
                text-transform: uppercase;
                color: #9c9c9c;
                @include transition(all, .5s);

                &:hover {
                    background-color: $brand-color;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        // archives
        .archives { 
            li {
                margin-bottom: 20px;
            }

            li:before {
                display: inline-block;
                font-family: 'FontAwesome';
                content: '\f105';
                width: 20px;
                height: 20px;
                font-size: 10px;
                line-height: 20px;
                text-align: center;
                border: 1px solid $brand-color;
                border-radius: 100%;
                @include transition(all, .3s);
            }

            li:hover:before {
                background-color: $brand-color;
                color: #fff;
            }

            a {
                color: #9c9c9c;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}






