/* -----------------------------------------------------------------------------
// 9. Testimonials
// ----------------------------------------------------------------------------- */

//
// Table of content
// -----------------------------------------------------------------------------
// - Testimonial style 1
// - Testimonial style 2
// - Testimonial style 3
// - Testimonial style 4


// Testimonial Style 1
// --------------------------------------------------
.testimonials-slider {
    .testimonial {
        text-align: left;

        h4 {
            font-size: 14px;
            margin-bottom: 20px;
            text-transform: uppercase;

            img {
                margin: -3px 10px 0 0;
            }
        }
    }

    .owl-pagination {
        position: absolute;
        top: 20px;
        right: 0;
        left: auto;
        text-align: center;

        .owl-page {
            display: block;

            span {
                display: block;
                width: 12px;
                height: 12px;
                margin: 5px 7px;
                filter: Alpha(Opacity=100);
                opacity: 1;
                border: 1px solid #c6c6c6;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background: transparent;
            }

            &.active span {
                filter: Alpha(Opacity=100);
                opacity: 1;
                border-color: $brand-color;
                background-color: $brand-color;
            }
        }
    }

    @media (max-width:992px) {
        .owl-pagination {
            display: none;
        }
    }
}



// Testimonials' Style 3
// --------------------------------------------------

// This style of the testimonial component requires
// a background image, so make sure that you add a background image
// to the container of the testimonials. In this case we add 'testimonial-bg'
// class and applied the background image to it.

.testimonial-bg {
    background: #4a4848 url(../img/devices-bg.jpg) center center;
}

.testimonial.style3 {
    .avatar {
        position: relative;
        height: 100px;
        width: 100px;
        margin: 0 auto 30px auto;
        border: 8px solid #fff;
        border-radius: 100%;
        overflow: hidden;
        float: left;
    }

    .align {
        margin-left: 150px;
        width: 70%;
    }

    p {
        font-family: $headings-font-family;
        font-size: 36px;
        line-height: 48px;
        color: $brand-color;
    }

    h4 {
        margin-top: 40px;
        color: #4b4b4b;
        font-family: $links-font-family;
        text-transform: uppercase;
    }

    @media (max-width:992px) {
        .avatar {
            display: none;
        }

        .align {
            width: 100%;
            margin-left: 15px;
        }
    }
}

//
// Testimonial Style 4
// --------------------------------------------------
.testimonial.style4 {
    text-align: center;

    p {
        font-family: $headings-font-family;
        font-size: 24px;
        line-height: 36px;
        color: #4b4b4b;
    }

    h4 {
        margin-top: 50px;
        color: $brand-color;
        text-transform: uppercase;

        .job {
            display: block;
            color: #9c9c9c;
        }
    }

    .avatar {
        position: relative;
        bottom: -40px;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        border-radius: 100%;
        overflow: hidden;
        border: 5px solid #fff;
    }
}
